<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container mx-auto" style="width:60%;position:relative;top:-20px;">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab" style="background-color: #d4d4d4;"> 
                <thead>
                    <tr style="color:white">
                        <th>Razon</th>
                        <th>Code</th>
                        <th>Type</th>
                        <th>Url</th>
                    </tr>
                </thead>

                {{#each logs}}
                <tr>
                    <th>{{Razon}}</th>
                    <th>{{Code}}</th>
                    <th><span class="badge {{Type}}">{{Type}}</span></th>
                    <th>{{Url}}</th>
                    <th class="text-center">Action</th>
                </tr>
                {{/each}}



            </table>

            <a href="/profile/logs" class="form-control">Descargar logs</a>
            <a href="/profile/logs" class="form-control">Descargar Usuarios</a>

        </div>
    </div>
</body>

</html>