<div class="container">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Description</th>
        <th>Soluciones</th>
      </tr>
    </thead>
    <tbody>

      {{#each logs}}
      <tr>
        <td><strong><a href="#" class="badge badge-primary">{{this.date}}</a></strong></td>
        <td><strong><span class="badge badge-pill badge-primary {{this.type}}">{{this.type}}</span></strong></td>
        <td><span class="label-{{this.type}}"><strong>{{this.description}}</strong></span></td>
        <td><strong>{{this.solution}} {{this.user}}</strong></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>