<div class="container">
  <h2>Hoverable Dark Table</h2>
  <p>The .table-hover class adds a hover effect (grey background color) on table rows:</p>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Description</th>
        <th>Soluciones</th>

      </tr>
    </thead>
    <tbody>

      {{#each logs}}
      <tr>
        <td><a href="#" class="badge badge-primary">{{this.date}}</a></td>
        <td><span class="badge badge-pill badge-primary {{this.type}}">{{this.type}}</span></td>
        <td>{{this.description}}</td>
        <td>{{this.solution}} <b>{{this.user}}</b></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>